<div class="front">  
<h4><i class="fa fa-cog fa-1x"></i>
MODIFICAR MIS DATOS</h4>
</div>
<div class="col-lg-12">

<div id="wrapper">
<form name="login-form" class="login-form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
 {{ form_errors(form) }}
	<div class="col-lg-12 crystal-header" style="min-height:230px">
	    
	    
	    <div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Usuario</span>
			 	 		{{form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

		
		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Email</span>
			 	 		{{form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

		
	    <div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Nombre</span>
			 	 		{{form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

	    <div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Apellidos</span>
			 	 		{{form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Direccion</span>
			 	 		{{form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Codigo Postal</span>
			 	 		{{form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>
		
		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Contraseña</span>
			 	 		{{form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>


		   
	    	{{ form_rest(form) }}
	   
	    
	 
    
    </div>
     <div class="col-lg-12 crystal-header-bottom">
	      <a class="btn-mini" href="{{ path('fos_user_change_password') }}"><i class="fa fa-key fa-3"></i><br><span style="font-size:15px">Cambiar contraseña</span></a>
	         <button type="submit" class="btn-mini"><i class="fa fa-download fa-3"></i><br><span style="font-size:15px">Guardar</span></button>
	    </div>


</form>
</div>
</div>
