{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="front">  
<h4><i class="fa fa-plus-circle fa-1x"></i>
MI PERFIL</h4>
</div>

<div class="col-lg-12 back">

	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Usuario</span>
		   <div class="form-control">{{ user.username }}</div>
		</div>
	</div>
	
	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Email</span>
		    <div class="form-control">{{ user.email }}</div>
		</div>
	</div>
	
	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Nombre</span>
		    <div class="form-control">{{ user.firstName }} {{ user.lastName }}</div>
		</div>
	</div>
	
	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Direccion</span>
		    <div class="form-control">{{ user.address }}</div>
		</div>
	</div>
	
	<div class="col-md-offset-1 col-lg-5 water_imput">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Codigo Postal</span>
		    <div class="form-control">{{ user.cp }}</div>
		</div>
	</div>



</div>

{% endblock%}
