{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
    <div class="front">
        <h4><i class="fa fa-plus-circle fa-1x"></i>
            EDICION DEL PARAMETRO DEL DIA: </h4>
    </div>

    <form action="{{ path('waterparameter_update', {'id': entity.id})}}" method="POST" name="crija_bundle_aquariumbundle_waterparameter">

        <div class="col-lg-12 back">

            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">   {{form_errors(edit_form) }} Calcio<span style="font-size:10"> ppm / %</span></span>
                    {{ form_widget(edit_form.calcium, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">PH</span>
                    {{ form_widget(edit_form.ph, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Temperatura<span style="font-size:10"> º</span></span>
                    {{ form_widget(edit_form.temperature, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Magnesio<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.magnesium, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Fosfato<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.phosphate, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Alcalinidad<span style="font-size:10"> meq/L | dKH</span></span>
                    {{ form_widget(edit_form.alkalinity, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Amoniaco<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.ammonia, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Silicio<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.silica, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Yodo<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.iodine, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Nitrato<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.nitrate, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Nitrito<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.nitrite, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>


            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Boro<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.boron, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Hierro<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.iron, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Estroncio<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.strontium, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-md-offset-1 col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Salinidad<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.salinity, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-lg-5 water_imput">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Potasio<span style="font-size:10"> ppm</span></span>
                    {{ form_widget(edit_form.potassium, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



        </div>


        <div class="col-lg-12 front">

            <div class="col-lg-10 col-md-offset-1  water_imput_text">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Notas</span>
                    {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="col-lg-5 col-md-offset-1  water_imput_front">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Fecha</span>
                    {{ form_widget(edit_form.createdAt, {'attr': {'value' : entity.createdAt|date('d-m-Y'),'class': 'form-control datepicker'}}) }}
                </div>
            </div>

            <div class="col-lg-5 water_imput_front">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">Acuario</span>
                    {{ form_widget(edit_form.aquarium, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <button class="btn btn-danger btn-lg btn-block btn-cool" name="crija_bundle_aquariumbundle_waterparameter[submit]" id="crija_bundle_aquariumbundle_waterparameter_submit" type="submit">
                <i class="fa fa-download fa-3"></i><br><span style="font-size:20px">Guardar</span>
            </button>

        </div>

        <div style="display: none;">{{ form_rest(edit_form) }}</div>

    </form>

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                    dateFormat: 'dd-mm-yy'

                });
            });
        </script>


    {% endblock %}

{% endblock %}

