{% extends "JalisFrontendBundle::layout_public.html.twig" %}

{% block body -%}

<div class="front bright-bottom">
    <h4><i class="fa fa-area-chart fa-1x"></i>
        GRAFICAS DE ESTADISTICAS GLOBALES SEMANALES</h4>
</div>
<div class="col-lg-12 front bright-top bright-bottom">
    <div class="col-lg-12" id="chart_div_basicos"></div>
    <div class="col-lg-12" id="chart_div_nutrientes"></div>
</div>



<div class="front bright-bottom">
    <div class="row">
        <h4><i class="fa fa-area-chart fa-1x"></i>
            INQUILINOS MAS COMUNES ORDENADOS POR POPULARIDAD</h4>
    </div>
</div>


<div class="col-lg-12 front bright-top bright-bottom">
<div class="row">
        {% for entity in animals %}

                {% set backgroundcolor = '#f8f8f8'  %}
                {% set color = '#000'  %}
                {% set gray = ''  %}


            <div class="col-lg-3" style="min-height:370px;color:{{ color }};padding: 0px;border: 1px solid;background-color:{{ backgroundcolor }};border-color:#e7e7e7;border-radius:10px;overflow:hidden;margin-bottom:10px;">
                <div style="height:200px;overflow: hidden;">
                    <div class="img-circle" alt="..." style="font-weight:bold;color: #000; padding:6px;background-color:#fff;border:solid 1px #ccc; top: 10px;left: 10px; position:absolute;z-index:10;width:32px" height="50px" width="70px">
                        {{ loop.index }}
                    </div>
                <img style="width:100%;" src="https://mycoralreef.es//script/thumb.php?src=/uploads/animal/{{ entity.image }}&w=275&h=200{{ gray }}">

                </div>
                {% if entity.AnimalCategory == "Pez" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Clown.png" alt="..." class="img-circle">
                {% endif %}
                {% if entity.AnimalCategory == "Coral" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Coral.png" alt="..." class="img-circle">
                {% endif %}
                {% if entity.AnimalCategory == "Invertebrado" %}
                    <img width="60px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -30px;left: 110px; position:relative;z-index:10" src="/img/Crab.png" alt="..." class="img-circle">
                {% endif %}
                <div style="min-height:70px;font-weight:bold;font-size:17px;text-align:center;padding-top:0px">
                    <i> {{ entity.realName }}</i><br> {{ entity.spanishName }}
                </div>

            </div>
        {% endfor %}
    </div>
</div>





<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
     <script type="text/javascript">
         $(function () {
             $('#chart_div_basicos').highcharts({
                 chart: {
                     zoomType: 'xy'
                 },
                 title: {
                     text: 'Mantenimiento'
                 },
                 subtitle: {
                     text: 'Parametros a que hay que mantener inalterables'
                 },
                 xAxis: [{
                     categories:  [ '0'{% for entity in data %}
                         ,'{{entity.semana |date('d M')}}'
                         {% endfor %}],
                     crosshair: true
                 }],
                 yAxis: [{ // Primary yAxis
                     labels: {
                         format: '{value}°',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     }, min: 20,max: 30,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     },
                     opposite: true

                 }, { // Secondary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[0]
                         }
                     }, min: 1015,max: 1025,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[0]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[1]
                         }
                     },min: 5, max: 9,tickInterval: 0.5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[1]
                         }
                     },
                     opposite: true
                 }],
                 tooltip: {
                     shared: true
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'left',
                     x: 80,
                     verticalAlign: 'top',
                     y: 55,
                     floating: true,
                     backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },
                 series: [{
                     name: 'Salinidad',
                     type: 'column',
                     yAxis: 1,
                     data: [null{% for entity in data %},{{entity.sal}}{% endfor %}],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' ppm'
                     }

                 }, {
                     name: 'ph',
                     type: 'spline',
                     yAxis: 2,
                     data: [null{% for entity in data %},{{entity.ph}}{% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },
                     dashStyle: 'shortdot',
                     tooltip: {
                         valueSuffix: ''
                     }

                 }, {
                     name: 'Temperature',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[5],
                     data: [null{% for entity in data %},{{entity.temp}}{% endfor %}],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' °C'
                     }
                 }]
             });
         });
    </script>


    <script type="text/javascript">
        $(function () {
            $('#chart_div_nutrientes').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Nutrientes a reducir'
                },
                subtitle: {
                    text: 'Parametros a que hay que mantener inalterables'
                },
                xAxis: [{
                    categories:  [ '0'{% for entity in data2 %}
                        ,'{{entity.semana |date('d M')}}'
                        {% endfor %}],
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[4]
                        }
                    }, min: 0,max: 1,tickInterval: 1,
                    title: {
                        text: 'nitrito',
                        style: {
                            color: Highcharts.getOptions().colors[4]
                        }
                    },
                    opposite: true

                }, { // Secondary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'nitrato',
                        style: {
                            color: Highcharts.getOptions().colors[5]
                        }
                    }, min: 0,max: 20,tickInterval: 0.1,
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[5]
                        }
                    }

                }, { // Tertiary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'fosfato',
                        style: {
                            color: Highcharts.getOptions().colors[6]
                        }
                    },min: 0, max: 1,tickInterval: 0.01,
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[6]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 80,
                    verticalAlign: 'top',
                    y: 55,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'nitrato',
                    color: Highcharts.getOptions().colors[5],
                    type: 'spline',
                    yAxis: 1,
                    data: [null{% for entity in data2 %},{{entity.nitrate}}{% endfor %}],
                    connectNulls: true,
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'nitrito',
                    type: 'spline',
                    yAxis: 2,
                    color: Highcharts.getOptions().colors[4],
                    data: [null{% for entity in data2 %},{{entity.nitrite}}{% endfor %}],
                    connectNulls: true,
                    marker: {
                        enabled: false
                    },
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'fosfato',
                    type: 'spline',
                    yAxis: 2,
                    color: Highcharts.getOptions().colors[6],
                    data: [null{% for entity in data2 %},{{entity.phosphate}}{% endfor %}],
                    connectNulls: true,
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });
    </script>


{% endblock %}