{% extends "JalisFrontendBundle::layout_panel.html.twig" %}
{% block body %}
{% if (entities) %}




<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-history"></i> HISTORIAL DEL ACUARIO "{{ entities.name|upper }}"</h4>
</div>


<div class="col-lg-12 back-solid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-cube"></i> Acuarios:</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for aquarium in aquariums %}
                        <li {% if aquarium.id == entities.id  %}class="active"{% endif %}><a href="{{ path('history', {id : aquarium.id}) }}">{{ aquarium.name }} <span class="sr-only">(current)</span></a></li>
                    {% endfor %}
                    {% if aquariums|length == 0 %}
                        <li class="active"><a href="{{ path('aquarium_bew') }}">Da de alta tu primer acuario<span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="col-lg-12 back-solid" style="padding:0px;">
    <div class="table-responsive">
                    {% for entity in entities.waterParameters %}
                 <table class="table" style="width:100%;">
                     {% if loop.index is odd %}
                     <tr class="back-solid-odd bright-bottom">
                 {% else %}
                     <tr class="back-solid bright-bottom">
                         {% endif %}
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Densidad</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Ca</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Alk</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">T</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Ph</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Mgn</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">PO4</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">NH3</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">SC</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Io</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">NO3</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">NO2</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Str</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Bo</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">Fe</td>
                    <td style="padding-top:20px;padding-bottom:20px;width:80px;">K</td>
                </tr>
                 {% if loop.index is odd %}
                    <tr class="back-solid-odd bright-bottom">
                 {% else %}
                    <tr class="back-solid bright-bottom">
                 {% endif %}
                    <td>{% if entity.salinity is null %} &nbsp; {% else %}{{ entity.salinity }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.calcium is null %} &nbsp; {% else %}{{ entity.calcium }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.alkalinity is null %} &nbsp; {% else %}{{ entity.alkalinity }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.temperature is null %}&nbsp;  {% else %}{{ entity.temperature }}{%endif %}</td>
                    <td>{% if entity.calcium is null %} &nbsp; {% else %}{{ entity.ph }}{%endif %}</td>
                    <td>{% if entity.magnesium is null %} &nbsp;  {% else %}{{ entity.magnesium }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.phosphate is null %} &nbsp;  {% else %}{{ entity.phosphate }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.ammonia is null %} &nbsp;  {% else %}{{ entity.ammonia }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.silica is null %} &nbsp;  {% else %}{{ entity.silica }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.iodine is null %} &nbsp;  {% else %}{{ entity.iodine }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.nitrate is null %} &nbsp;  {% else %}{{ entity.nitrate }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.nitrite is null %} &nbsp;  {% else %}{{ entity.nitrite }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.strontium is null %} &nbsp;  {% else %}{{ entity.strontium }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.boron is null %} &nbsp;  {% else %}{{ entity.boron }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.iron is null %} &nbsp;  {% else %}{{ entity.iron }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    <td>{% if entity.potassium is null %} &nbsp;  {% else %}{{ entity.potassium }} <span style="font-size:7px">ppm</span>{%endif %}</td>
                    </tr>
                     {% if loop.index is odd %}
                     <tr class="back-solid-odd bright-bottom">
                     {% else %}
                     <tr class="back-solid bright-bottom">
                     {% endif %}
                         <td style="font-weight:300;">{% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y') }}{% endif %}</td>
                         <td colspan="13">
                             {% if entity.description is null %}
                                 No hay descripcion
                             {% else %}
                                 <b>{{ entity.description }}</b>
                             {% endif %}
                         </td>
                         <td>
                             <a href="{{path('waterparameter_edit', { 'id': entity.id }) }}" class="btn-mini-mini" style="padding:0px;font-size: 20px;height: 25px;width: 25px;"><i class="fa fa-pencil-square-o"></i></a>
                         </td>
                         <td> <a onclick="return confirm('¿Seguro que queires borrar esta medicion?');"  href="{{path('waterparameter_delete', { 'id': entity.id }) }}" class="btn-mini-mini" style="padding:0px;font-size: 20px;height: 25px;width: 25px;"><i class="fa fa-trash-o"></i></a>
                         </td>
                     </tr>
                     {% endfor %}
              </table>
    </div>
</div>

    {% else %}

<div class="col-lg-offset-1 col-lg-10">

    <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">
        <div style="font-size:20px;">
            <a href="{{ path('aquarium_new') }}" style="color:#fff;" class="btn btn-default box_transparent" type="button">
                <i class="fa fa-tachometer fa-1x"></i> Da de alta tu primer acuario para poder hacerle un seguimiento pulsa aqui para darlo de alta
            </a>

        </div>
    </div>

</div>


    {% endif %}
  
   
    {% endblock %}
