{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="col-lg-12 front bright-top bright-bottom">
    <h4 style="display: inline-block;">
        <i class="fa fa-history fa-1x"></i>GRAFICA DE EVOLUCION DE PARAMETROS DE "{{ acuario.name|upper }}"
    </h4>
    <a class="btn btn-danger btn-lg hidden-phone hidden-tablet hidden-xs hidden-sm" style="top:80px;float:right;" href="{{ path('waterparameter_new') }}">
        <i class="fa fa-plus-circle"></i><span style="font-size:17px"> Nuevo medición</span>
    </a>
</div>


<div class="col-lg-12 back-solid ">
        <div class="col-lg-12 back-solid">
            <a href="{{ path('waterparameter_new') }}" class="btn btn-danger btn-lg hidden-desktop hidden-lg hidden-md" style="display:block;top:80px;" >
                <i class="fa fa-plus-circle fa-3"></i><span style="font-size:20px"> Nueva medición</span>
            </a>
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><i class="fa fa-cube"></i> Acuarios:</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% for aquarium in aquariums %}
                            <li {% if aquarium.id == acuario.id  %}class="active"{% endif %}><a href="{{ path('parameter', {id : aquarium.id}) }}">{{ aquarium.name }} <span class="sr-only">(current)</span></a></li>
                            {% endfor %}
                            {% if aquariums|length == 0 %}
                                <li class="active"><a href="{{ path('aquarium_new') }}">Da de alta tu primer acuario<span class="sr-only">(current)</span></a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div class="col-lg-12 back-solid">
            {% if aquariums|length >0 and acuario.waterParametersAutomatic|length > 0 %}
                <div id="chart_div_basicos_automaticos"></div>
            {% endif %}
            <div id="chart_div_basicos"></div>
            <div id="chart_div_nutrientes"></div>
            <div id="chart_div_reponer"></div>
            <div id="chart_div_trazas"></div>
        </div>
</div>
    
{% block javascripts %}
    {{ parent() }}
        {% if aquariums %}
        <script src="https://code.highcharts.com/highcharts.js"></script>


        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <script>

           $(function () {
               $('#chart_div_basicos').highcharts({
                   chart: {
                       zoomType: 'xy'
                   },
                   title: {
                       text: 'Mantenimiento'
                   },
                   subtitle: {
                       text: 'Parametros que hay que mantener inalterables'
                   },
                   xAxis: [{
                       categories:  [ {% for entity in acuario.waterParameters %}
                           '{{entity.created_at |date('d M Y')}}',
                           {% endfor %}'0'],
                       crosshair: true,
                       reversed: true
                   }],
                   yAxis: [{ // Primary yAxis
                       labels: {
                           format: '{value}°',
                           style: {
                               color: Highcharts.getOptions().colors[5]
                           }
                       },min: 20,max: 30,
                       title: {
                           text: '',
                           style: {
                               color: Highcharts.getOptions().colors[5]
                           }
                       },
                       opposite: true

                   }, { // Secondary yAxis
                       gridLineWidth: 0,
                       title: {
                           text: '',
                           style: {
                               color: Highcharts.getOptions().colors[0]
                           }
                       }, min: 1015,max: 1025,
                       labels: {
                           format: '{value}',
                           style: {
                               color: Highcharts.getOptions().colors[0]
                           }
                       }

                   }, { // Tertiary yAxis
                       gridLineWidth: 0,
                       title: {
                           text: '',
                           style: {
                               color: Highcharts.getOptions().colors[1]
                           }
                       },min: 5, max: 9,tickInterval: 0.5,
                       labels: {
                           format: '{value}',
                           style: {
                               color: Highcharts.getOptions().colors[1]
                           }
                       },
                       opposite: true
                   }],
                   tooltip: {
                       shared: true
                   },
                   legend: {
                       layout: 'vertical',
                       align: 'left',
                       x: 80,
                       verticalAlign: 'top',
                       y: 55,
                       floating: true,
                       backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                   },
                   series: [{
                       name: 'Salinidad',
                       type: 'column',
                       yAxis: 1,
                       data: [ {% for entity in acuario.waterParameters %}{% if entity.salinity is null %} null {% else %} {{entity.salinity}}{% endif %},{% endfor %} null],
                       connectNulls: true,
                       tooltip: {
                           valueSuffix: ' ppm'
                       }

                   }, {
                       name: 'ph',
                       type: 'spline',
                       yAxis: 2,
                       data: [{% for entity in acuario.waterParameters %}{% if entity.ph is null %}null{% else%}{{entity.ph}}{% endif %},{% endfor %} null],
                       connectNulls: true,
                       marker: {
                           enabled: false
                       },
                       dashStyle: 'shortdot',
                       tooltip: {
                           valueSuffix: ''
                       }

                   }, {
                       name: 'Temperature',
                       type: 'spline',
                       color: Highcharts.getOptions().colors[5],
                       data: [{% for entity in acuario.waterParameters %}{% if entity.temperature is null %} null {% else %} {{entity.temperature}}{%  endif %},{% endfor %} null],
                       connectNulls: true,
                       tooltip: {
                           valueSuffix: ' °C'
                       }
                   }]
               });
           });


   </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
         $(function () {
             $('#chart_div_nutrientes').highcharts({
                 chart: {
                     zoomType: 'xy'
                 },
                 title: {
                     text: 'Nutrientes a reducir'
                 },
                 subtitle: {
                     text: 'Parametros que hay que reducir a cero'
                 },
                 xAxis: [{
                     categories:  [ {% for entity in acuario.waterParameters %}
                         '{{entity.created_at |date('d M Y')}}',
                         {% endfor %}'0'],
                     crosshair: true,
                     reversed: true
                 }],
                 yAxis: [{ // Primary yAxis
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     },
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     } ,opposite: true

                 }, { // Secondary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[4]
                         }
                     },min: 0,
                     opposite: true,
                     max: 60,
                     tickInterval: 5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[4]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[3]
                         }
                     },min: 0,
                     max: 60,tickInterval: 5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[3]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[2]
                         }
                     },min: 0,
                     max: 1,
                     tickInterval: 0.01,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[2]
                         }
                     },
                     opposite: true
                 }],
                 tooltip: {
                     shared: true
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'left',
                     x: 80,
                     verticalAlign: 'top',
                     y: 55,
                     floating: true,
                     backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },
                 series: [{
                     name: 'Amoniaco',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[5],
                     yAxis: 0,
                     data: [{% for entity in acuario.waterParameters %}{% if entity.ammonia is null %} null {% else%} {{entity.ammonia}} {% endif%},{% endfor %}null],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' pmm'
                     }

                 }, {
                     name: 'Nitrito',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[3],
                     yAxis: 1,
                     data: [{% for entity in acuario.waterParameters %}{% if entity.nitrite is null %} null {% else%} {{entity.nitrite}} {% endif%} ,{% endfor %}null],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },

                     tooltip: {
                         valueSuffix: ' ppm'
                     }

                 }, {
                     name: 'Nitrato',
                     type: 'spline',
                     yAxis: 2,
                     color: Highcharts.getOptions().colors[4],
                     data: [{% for entity in acuario.waterParameters %}{% if entity.nitrate is null %} null {% else%} {{entity.nitrate}} {% endif%},{% endfor %}null],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' ppm'
                     }
                 }, {
                     name: 'Fosfato',
                     type: 'spline',
                     yAxis: 3,
                     floor: 0,max: 1,minorTickInterval: 0.01,
                     color: Highcharts.getOptions().colors[2],
                     data: [{% for entity in acuario.waterParameters %}{% if entity.phosphate is null %} null {% else%} {{entity.phosphate}} {% endif%},{% endfor %}null],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' ppm'
                     }
                 } ]
             });
         });

    </script>
        <script type="text/javascript">
            $(function () {
                $('#chart_div_reponer').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Elementos mayores a reponer'
                    },
                    subtitle: {
                        text: 'Parametros que hay que reponer periodicamente segun consumo'
                    },
                    xAxis: [{
                        categories:  [ {% for entity in acuario.waterParameters %}
                            '{{entity.created_at |date('d M Y')}}',
                            {% endfor %}'0'],
                        crosshair: true,
                        reversed: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[5]
                            }
                        },min: 300,
                        max: 600,
                        tickInterval: 10,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[5]
                            }
                        },
                        opposite: true

                    }, { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[4]
                            }
                        }, min: 500,   opposite: true,
                        max: 1600,
                        tickInterval: 10,
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[4]
                            }
                        }

                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },
                        min: 3,
                        max: 14,
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[3]
                            }
                        },

                    }, { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },min: 200,
                        max: 600,
                        tickInterval: 10,
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 80,
                        verticalAlign: 'top',
                        y: 55,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'Calcio',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[5],
                        yAxis: 0,
                        data: [{% for entity in acuario.waterParameters %}{% if entity.calcium is null %} null {% else%} {{entity.calcium}} {% endif%},{% endfor %}null],
                        connectNulls: true,
                        tooltip: {
                            valueSuffix: ' pmm'
                        }

                    }, {
                        name: 'Magnesio',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[4],
                        yAxis: 1,
                        data: [{% for entity in acuario.waterParameters %}{% if entity.magnesium is null %} null {% else%} {{entity.magnesium}} {% endif%}, {% endfor %}null],
                        connectNulls: true,
                        marker: {
                            enabled: false
                        },

                        tooltip: {
                            valueSuffix: ' ppm'
                        }

                    }, {
                        name: 'Carbonatos',
                        type: 'spline',
                        yAxis: 2,
                        color: Highcharts.getOptions().colors[3],
                        data: [{% for entity in acuario.waterParameters %}{% if entity.alkalinity is null %} null {% else%} {{entity.alkalinity}} {% endif%},{% endfor %}null],
                        connectNulls: true,
                        tooltip: {
                            valueSuffix: ' kh'
                        }
                    }, {
                        name: 'Potasio',
                        type: 'spline',
                        yAxis: 3,
                        floor: 0,max: 1,minorTickInterval: 0.01,
                        color: Highcharts.getOptions().colors[2],
                        data: [{% for entity in acuario.waterParameters %}{% if entity.potassium is null %} null {% else%} {{entity.potassium}} {% endif%},{% endfor %}null],
                        connectNulls: true,
                        tooltip: {
                            valueSuffix: ' ppm'
                        }
                    } ]
                });
            });
        </script>
    <script type="text/javascript">

        $(function () {
            $('#chart_div_trazas').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Elementos traza'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [ {% for entity in acuario.waterParameters %}'{{entity.created_at |date('d M')}}' ,{% endfor %}'0'],
                    crosshair: true,
                    reversed: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Silicio',
                    data: [{% for entity in acuario.waterParameters %}{% if entity.silica is null %} null {% else%} {{entity.silica}} {% endif%},{% endfor %}0]

                }, {
                    name: 'Yodo',
                    data:[{% for entity in acuario.waterParameters %}{% if entity.iodine is null %} null {% else%} {{entity.iodine}} {% endif%},{% endfor %}0]

                }, {
                    name: 'Estroncio',
                    data: [{% for entity in acuario.waterParameters %}{% if entity.strontium is null %} null {% else%} {{entity.strontium}} {% endif%},{% endfor %}0]

                }, {
                    name: 'Boro',
                    data: [{% for entity in acuario.waterParameters %}{% if entity.boron is null %} null {% else%} {{entity.boron}} {% endif%},{% endfor %}0]

                }, {
                    name: 'Hierro',
                    data: [{% for entity in acuario.waterParameters %}{% if entity.iron is null %} null {% else%} {{entity.iron}} {% endif%},{% endfor %}0]

                }]
            });
        });
        {% endif %}

    </script>

{% if  aquariums|length > 0 and acuario.waterParametersAutomatic|length > 0 %}
    <script>
            $(function () {
                $('#chart_div_basicos_automaticos').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Parametros automaticos'
                    },
                    subtitle: {
                        text: 'Parametros que se reciben de manera remota'
                    },
                    xAxis: [{
                        categories:  [ '0'{% for entity in acuario.waterParametersAutomatic %}
                            ,'{{entity.created_at |date('d M')}}'
                            {% endfor %}],
                        crosshair: true,
                        reversed: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}°',
                            style: {
                                color: Highcharts.getOptions().colors[5]
                            }
                        },min: 20,max: 30,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[5]
                            }
                        },
                        opposite: true

                    }, { // Secondary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: '',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }, min: 1015,max: 1025,
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }

                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 80,
                        verticalAlign: 'top',
                        y: 55,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: 'ph',
                        type: 'spline',
                        yAxis: 1,
                        data: [null{% for entity in acuario.waterParametersAutomatic %},{% if entity.ph is null %}null{% else%}{{entity.ph}}{% endif %}{% endfor %}],
                        connectNulls: true,
                        marker: {
                            enabled: false
                        },
                        dashStyle: 'shortdot',
                        tooltip: {
                            valueSuffix: ''
                        }

                    }, {
                        name: 'Temperature',
                        type: 'spline',
                        color: Highcharts.getOptions().colors[5],
                        data: [null{% for entity in acuario.waterParametersAutomatic %} ,{% if entity.temperature is null %} null {% else %} {{entity.temperature}}{%  endif %}{% endfor %}],
                        connectNulls: true,
                        tooltip: {
                            valueSuffix: ' °C'
                        }
                    }]
                });
            });
        </script>
{% endif %}

    {% endblock %}

    {% endblock %}
