
{% if(aquariums |length  != 0 ) %}

	{% for aquarium in aquariums %}



		{% if(aquarium['last'] != null )%}
			<div class="panel panel-success" style="background: rgba(0,0,0,0.1);">
                  <div class="col-lg-12">
			       <div class="dropdown" style="">
				     
				     <div style="display:block-inline;color:#fff;">
				     	{{ aquarium['name']}}
				     </div>
			            <!--button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="background: transparent;
			background-color:transparent;
			border: activeborder;">
			              <i class="fa fa-bars fa-inverse"></i>
			             
			            </button>
			            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><input type="checkbox"> PH</a></li>
			              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><input type="checkbox"> Amoniaco</a></li>
			              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><input type="checkbox"> Calcio</a></li>
			              <li role="presentation" class="divider"></li>
			              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Borrar configuracion</a></li>
			            </ul-->
			      </div> 
			      </div> 
			           
			      <div class="panel-body" style="text-align:center">
				      {% set keys = ['salinity','calcium','ph','temperature','magnesium','phosphate','alkalinity','ammonia','silica','iodine','nitrate','nitrite','boron','iron','strontium','potassium'] %}
				      {% set metrics = ['ppm','ppm','','º','ppm','ppm','dKH | meq/L','ppm','ppm','ppm','ppm','ppm','ppm','ppm','ppm','ppm'] %}
                      {% set keys2 = ['salinidad','calcio','ph','temperatura','magnesio','fosfatos','alkalinidad','amoniaco','silicio','yodo','nitrato','nitrito','boro','hierro','estroncio','potasio'] %}




                      {% set parameters = aquarium['last'] %}
				        {% set parameters_before = aquarium['before'] %}
				        
			
			             {% for key in keys %}
			             {% if attribute(parameters,key) != null %}
			              
							{% if attribute(parameters,key)[key] <  attribute(parameters_before,key)[key] %}{% set class = 'fa-rotate-90' %}{% set style = 'style=color:white;' %}{% endif %}
						 	{% if attribute(parameters,key)[key] >  attribute(parameters_before,key)[key] %}{% set class = 'fa-rotate-270' %}{% set style = 'style=color:white;' %}{% endif %}
						 	{% if attribute(parameters,key)[key] == attribute(parameters_before,key)[key] %}{% set class = 'normal' %}{% set style = 'style=color:white;' %}{% endif %}
						        
						        <button class="btn btn-default box_transparent" type="button">
                                    {% set trad_id = loop.index-1   %}
                                    <span>{{ keys2[trad_id] }}</span><br>
						            <i class="fa fa-long-arrow-right {{ class }} {{style}}"></i> {{ attribute(parameters,key)[key]}} {{ metrics[loop.index0]}}<br>
						        </button>
						 {% endif %}
					     {% endfor %}
			      </div>
			    </div>
		
		{% else %} 
			<div class="panel panel-success" style="background: rgba(0,0,0,0.1);">

                <div class="col-lg-12">
                    <div class="dropdown" style="">

                        <div style="display:block-inline;color:#fff;">
                            {{ aquarium['name']}}
                        </div>
                     
                    </div>
                </div>

                <div class="panel-body" style="text-align:center">
			  	<a href="{{ path('waterparameter_new') }}" style="color:#fff;" class="btn btn-default box_transparent" type="button">
				 	<i class="fa fa-tachometer fa-1x"></i> guarda tu primera medicion de parametros de tu acuario
		  		</a>			  
			  </div>
			</div>			
	     {% endif %}	
			    
     {% endfor %}

{% else %} 

<div class="panel panel-success" style="background: rgba(0,0,0,0.1);">
  <div class="panel-body" style="text-align:center">
  	<a href="{{ path('aquarium_new') }}" style="color:#fff;" class="btn btn-default box_transparent" type="button">
  		
  		 	<i class="fa fa-tachometer fa-1x"></i> Da de alta tu primer acuario para poder hacerle un seguimiento pulsa aqui para darlo de alta
  		</a>
  
  </div>
</div>

{% endif %}

