{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4 style="display: inline-block;">
            <i class="fa fa-history fa-1x"></i>NUEVA MEDICION DE PARAMETROS
        </h4>
       
    </div>
<form action="{{ path('waterparameter_create')}}" method="post" name="crija_bundle_aquariumbundle_waterparameter">
<div class="col-lg-12 back">
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Salinidad<span style="font-size:10"> ppm</span></span>
                {{ form_widget(form.salinity, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">PH</span>
               {{ form_widget(form.ph, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Temperatura<span style="font-size:10"> º</span></span>
               {{ form_widget(form.temperature, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Calcio<span style="font-size:10"> ppm / %</span></span>
                {{ form_widget(form.calcium, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Magnesio<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.magnesium, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Alcalinidad<span style="font-size:10"></span></span>
                {{ form_widget(form.alkalinity, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Fosfato<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.phosphate, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Nitrato<span style="font-size:10"> ppm</span></span>
                {{ form_widget(form.nitrate, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Nitrito<span style="font-size:10"> ppm</span></span>
                {{ form_widget(form.nitrite, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Amoniaco<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.ammonia, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Potasio<span style="font-size:10"> ppm</span></span>
                {{ form_widget(form.potassium, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Silicio<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.silica, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Yodo<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.iodine, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Boro<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.boron, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Hierro<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.iron, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-lg-5 col-md-5 water_imput">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Estroncio<span style="font-size:10"> ppm</span></span>
               {{ form_widget(form.strontium, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>	


<div class="col-lg-12 front">

	<div class="col-lg-12 water_imput_text">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Notas</span>
		  	{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		  	</div>
	</div>
	
	<div class="col-lg-12 water_imput_front">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Fecha</span>
		  	{{ form_widget(form.createdAt, {'attr': {'class': 'form-control datepicker'}}) }}
		  	</div>
	</div>
	
	<div class="col-lg-12 water_imput_front">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon">Acuario</span>
		  	{{ form_widget(form.aquarium, {'attr': {'class': 'form-control'}}) }}
		  	</div>
	</div>


    <div class="col-lg-5 water_imput_front" style="text-align:center;">
        <button style="width:340px;margin-top:10px;" class="btn btn-danger btn-block" name="crija_bundle_aquariumbundle_waterparameter[submit]" id="crija_bundle_aquariumbundle_waterparameter_submit" type="submit">
                <i class="fa fa-download"></i><span style="font-size:20px">Guardar</span>
        </button>
    </div>
</div>

<div style="display: none;">{{ form_rest(form) }}</div>
 
</form> 


    {% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
        $( ".datepicker" ).datepicker({
             dateFormat: 'dd-mm-yy'

                });
        });
        </script>

    {% endblock %}

{% endblock %}
