{% extends '::base.html.twig' %}

{% block body -%}
    <h1>WaterParameter</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Calcium</th>
                <td>{{ entity.calcium }}</td>
            </tr>
            <tr>
                <th>Alkalinity</th>
                <td>{{ entity.alkalinity }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ entity.temperature }}</td>
            </tr>
            <tr>
                <th>Ph</th>
                <td>{{ entity.ph }}</td>
            </tr>
            <tr>
                <th>Magnesium</th>
                <td>{{ entity.magnesium }}</td>
            </tr>
            <tr>
                <th>Phosphate</th>
                <td>{{ entity.phosphate }}</td>
            </tr>
            <tr>
                <th>Ammonia</th>
                <td>{{ entity.ammonia }}</td>
            </tr>
            <tr>
                <th>Silica</th>
                <td>{{ entity.silica }}</td>
            </tr>
            <tr>
                <th>Iodine</th>
                <td>{{ entity.iodine }}</td>
            </tr>
            <tr>
                <th>Nitrate</th>
                <td>{{ entity.nitrate }}</td>
            </tr>
            <tr>
                <th>Nitrite</th>
                <td>{{ entity.nitrite }}</td>
            </tr>
            <tr>
                <th>Strontium</th>
                <td>{{ entity.strontium }}</td>
            </tr>
            <tr>
                <th>Boron</th>
                <td>{{ entity.boron }}</td>
            </tr>
            <tr>
                <th>Iron</th>
                <td>{{ entity.iron }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('parameter') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('waterparameter_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
