<div class="front bright-bottom">
    <h4><i class="fa fa-area-chart fa-1x"></i>
        EVOLUCION DE PARAMETROS</h4>
</div>
<div class="col-lg-12 front bright-top bright-bottom">
    {% if aquariums_automaticos|length > 0 %}
<div class="col-lg-12" id="chart_div_basicos_automaticos" style="height:400px;"></div>
    {% endif %}
<div class="col-lg-12" id="chart_div_basicos" style="height:400px;"></div>
<div class="col-lg-12" id="chart_div_nutrientes" style="height:400px;"></div>
<div class="col-lg-12" id="chart_div_reponer" style="height:400px;"></div>
<div class="col-lg-12" id="chart_div_trazas" style="height:400px;"></div>
    
</div>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
     <script type="text/javascript">
         $(function () {
             $('#chart_div_basicos').highcharts({
                 chart: {
                     zoomType: 'xy'
                 },
                 title: {
                     text: 'Mantenimiento'
                 },
                 subtitle: {
                     text: 'Parametros a que hay que mantener inalterables'
                 },
                 xAxis: [{
                     categories:  [ '0'{% for entity in aquariums[0].waterParameters %}
                         ,'{{entity.created_at |date('d M Y')}}'
                         {% endfor %}],
                     crosshair: true
                 }],
                 yAxis: [{ // Primary yAxis
                     labels: {
                         format: '{value}°',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     }, min: 20,max: 30,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     },
                     opposite: true

                 }, { // Secondary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[0]
                         }
                     }, min: 1015,max: 1025,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[0]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[1]
                         }
                     },min: 5, max: 9,tickInterval: 0.5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[1]
                         }
                     },
                     opposite: true
                 }],
                 tooltip: {
                     shared: true
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'left',
                     x: 80,
                     verticalAlign: 'top',
                     y: 55,
                     floating: true,
                     backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },
                 series: [{
                     name: 'Salinidad',
                     type: 'column',
                     yAxis: 1,
                     data: [ null{% for entity in aquariums[0].waterParameters %},{% if entity.salinity is null %} null {% else%} {{entity.salinity}}{% endif %}{% endfor %}],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' ppm'
                     }

                 }, {
                     name: 'ph',
                     type: 'spline',
                     yAxis: 2,
                     data: [null{% for entity in aquariums[0].waterParameters %},{% if entity.ph is null %}null{% else%}{{entity.ph}}{% endif %}{% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },
                     dashStyle: 'shortdot',
                     tooltip: {
                         valueSuffix: ''
                     }

                 }, {
                     name: 'Temperature',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[5],
                     data: [null{% for entity in aquariums[0].waterParameters %} ,{% if entity.temperature is null %} null {% else%} {{entity.temperature}}{%  endif %}{% endfor %}],
                     connectNulls: true,
                     tooltip: {
                         valueSuffix: ' °C'
                     }
                 }]
             });
         });
    </script>  
 

    
     <script type="text/javascript">
         $(function () {
             $('#chart_div_nutrientes').highcharts({
                 chart: {
                     zoomType: 'xy'
                 },
                 title: {
                     text: 'Nutrientes a reducir'
                 },
                 subtitle: {
                     text: 'Parametros que hay que reducir a cero'
                 },
                 xAxis: [{
                     categories:  [ '0'{% for entity in aquariums[0].waterParameters %}
                         ,'{{entity.created_at |date('d M Y')}}'
                         {% endfor %}],
                     crosshair: true
                 }],
                 yAxis: [{ // Primary yAxis
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     },min: 0,
                     max: 1,
                     tickInterval: 0.1,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[5]
                         }
                     },
                     opposite: true

                 }, { // Secondary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[4]
                         }
                     }, min: 0,   opposite: true,
                     max: 60,
                     tickInterval: 5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[4]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[3]
                         }
                     },min: 0,
                     max: 60,tickInterval: 5,
                     labels: {
                         format: '{value}',
                         style: {
                             color: Highcharts.getOptions().colors[3]
                         }
                     }

                 }, { // Tertiary yAxis
                     gridLineWidth: 0,
                     title: {
                         text: '',
                         style: {
                             color: Highcharts.getOptions().colors[2]
                         }
                     },min: 0,
                     max: 1,
                     tickInterval: 0.01,
                     labels: {
                         format: '{value} ',
                         style: {
                             color: Highcharts.getOptions().colors[2]
                         }
                     },
                     opposite: true
                 }],
                 tooltip: {
                     shared: true
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'left',
                     x: 80,
                     verticalAlign: 'top',
                     y: 55,
                     floating: true,
                     backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                 },
                 series: [{
                     name: 'Amoniaco',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[5],
                     yAxis: 0,
                     data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.ammonia is null %} null {% else%} {{entity.ammonia}} {% endif%}{% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },
                     tooltip: {
                         valueSuffix: ' pmm'
                     }

                 }, {
                     name: 'Nitrito',
                     type: 'spline',
                     color: Highcharts.getOptions().colors[3],
                     yAxis: 1,
                     data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.nitrite is null %} null {% else%} {{entity.nitrite}} {% endif%} {% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },

                     tooltip: {
                         valueSuffix: ' ppm'
                     }

                 }, {
                     name: 'Nitrato',
                     type: 'spline',
                     yAxis: 2,
                     color: Highcharts.getOptions().colors[4],
                     data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.nitrate is null %} null {% else%} {{entity.nitrate}} {% endif%}{% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },
                     tooltip: {
                         valueSuffix: ' ppm'
                     }
                 }, {
                     name: 'Fosfato',
                     type: 'spline',
                     yAxis: 3,
                     floor: 0,max: 1,minorTickInterval: 0.01,
                     color: Highcharts.getOptions().colors[2],
                     data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.phosphate is null %} null {% else%} {{entity.phosphate}} {% endif%}{% endfor %}],
                     connectNulls: true,
                     marker: {
                         enabled: false
                     },
                     tooltip: {
                         valueSuffix: ' ppm'
                     }
                 } ]
             });
         });
    </script>
<script type="text/javascript">
    $(function () {
        $('#chart_div_reponer').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Elementos mayores a reponer'
            },
            subtitle: {
                text: 'Parametros que hay que reponer periodicamente segun consumo'
            },
            xAxis: [{
                categories:  [ '0'{% for entity in aquariums[0].waterParameters %}
                    ,'{{entity.created_at |date('d M Y')}}'
                    {% endfor %}],
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[5]
                    }
                },min: 300,
                max: 600,
                tickInterval: 10,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[5]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[4]
                    }
                }, min: 500,   opposite: true,
                max: 1600,
                tickInterval: 10,
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[4]
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[3]
                    }
                },
                min: 3,
                max: 14,
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[3]
                    }
                },

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },min: 200,
                max: 600,
                tickInterval: 10,
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'Calcio',
                type: 'spline',
                color: Highcharts.getOptions().colors[5],
                yAxis: 0,
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.calcium is null %} null {% else%} {{entity.calcium}} {% endif%}{% endfor %}],
                connectNulls: true,
                marker: {
                    enabled: false
                },
                tooltip: {
                    valueSuffix: ' pmm'
                }

            }, {
                name: 'Magnesio',
                type: 'spline',
                color: Highcharts.getOptions().colors[4],
                yAxis: 1,
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.magnesium is null %} null {% else%} {{entity.magnesium}} {% endif%} {% endfor %}],
                connectNulls: true,
                marker: {
                    enabled: false
                },

                tooltip: {
                    valueSuffix: ' ppm'
                }

            }, {
                name: 'Carbonatos',
                type: 'spline',
                yAxis: 2,
                color: Highcharts.getOptions().colors[3],
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.alkalinity is null %} null {% else%} {{entity.alkalinity}} {% endif%}{% endfor %}],
                connectNulls: true,
                marker: {
                    enabled: false
                },
                tooltip: {
                    valueSuffix: ' ppm'
                }
            }, {
                name: 'Potasio',
                type: 'spline',
                yAxis: 3,
                floor: 0,max: 1,minorTickInterval: 0.01,
                color: Highcharts.getOptions().colors[2],
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.potassium is null %} null {% else%} {{entity.potassium}} {% endif%}{% endfor %}],
                connectNulls: true,
                marker: {
                    enabled: false
                },
                tooltip: {
                    valueSuffix: ' ppm'
                }
            } ]
        });
    });
</script>
<script type="text/javascript">

    $(function () {
        $('#chart_div_trazas').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Elementos traza'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [ '0'{% for entity in aquariums[0].waterParameters %},'{{entity.created_at |date('d M')}}' {% endfor %}],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'ppm'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Silicio',
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.silica is null %} null {% else%} {{entity.silica}} {% endif%}{% endfor %}]

            }, {
                name: 'Yodo',
                data:[0{% for entity in aquariums[0].waterParameters %},{% if entity.iodine is null %} null {% else%} {{entity.iodine}} {% endif%}{% endfor %}]

            }, {
                name: 'Estroncio',
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.strontium is null %} null {% else%} {{entity.strontium}} {% endif%}{% endfor %}]

            }, {
                name: 'Boro',
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.boron is null %} null {% else%} {{entity.boron}} {% endif%}{% endfor %}]

            }, {
                name: 'Hierro',
                data: [0{% for entity in aquariums[0].waterParameters %},{% if entity.iron is null %} null {% else%} {{entity.iron}} {% endif%}{% endfor %}]

            }]
        });
    });


</script>
{% if aquariums_automaticos|length > 0 %}
<script>

    $(function () {
        $('#chart_div_basicos_automaticos').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Parametros automaticos'
            },
            subtitle: {
                text: 'Parametros que se reciben de manera remota'
            },
            xAxis: [{
                categories:  [ '0'{% for entity in aquariums_automaticos %}
                    ,'{{entity.created_at |date('d M Y')}}'
                    {% endfor %}],
                crosshair: true,
                reversed: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}°',
                    style: {
                        color: Highcharts.getOptions().colors[5]
                    }
                },min: 20,max: 30,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[5]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: '',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }, min: 1015,max: 1025,
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 80,
                verticalAlign: 'top',
                y: 55,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'ph',
                type: 'spline',
                yAxis: 1,
                data: [null{% for entity in aquariums_automaticos %},{% if entity.ph is null %}null{% else%}{{entity.ph}}{% endif %}{% endfor %}],
                connectNulls: true,
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                    valueSuffix: ''
                }

            }, {
                name: 'Temperature',
                type: 'spline',
                color: Highcharts.getOptions().colors[5],
                data: [null{% for entity in aquariums_automaticos %} ,{% if entity.temperature is null %} null {% else %} {{entity.temperature}}{%  endif %}{% endfor %}],
                connectNulls: true,
                tooltip: {
                    valueSuffix: ' °C'
                }
            }]
        });
    });


</script>

{% endif %}