{% extends "JalisFrontendBundle::layout_panel.html.twig" %}
{% block body %}


<div class="col-lg-12 front bright-bottom bright-top">
    <div class="row">


    <div class="row">
        <style>
            .box-widget {
                border: medium none;
                position: relative;
            }
            .box {
                background: none repeat scroll 0 0 #ffffff;
                border-radius: 3px;
                border-top: 3px solid #d2d6de;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
                position: relative;
                width: 100%;

            }


            .widget-user .widget-user-username {
                font-size: 25px;
                font-weight: 300;
                margin-bottom: 5px;
                margin-top: 0;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                color:#000;
            }
            .widget-user .widget-user-header {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                height: 120px;
                padding: 20px;
            }
            .widget-user .widget-user-image {
                left: 50%;
                margin-left: -45px;
                position: absolute;
                top: 65px;
            }
            .widget-user .box-footer {
                padding-top: 30px;
            }
            .box-footer {
                background-color: #fff;
                border-radius: 0 0 3px 3px;
                border-top: 1px solid #f4f4f4;
                padding: 10px;
            }
            .bg-aqua-active, .modal-info .modal-header, .modal-info .modal-footer {
                background-color: #d9edf7 !important;
            }
            .description-block > .description-header {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                padding: 0;
                width:50px;
            }
            .widget-user .box-footer {
                padding-top: 60px;
            }
        </style>


        {% for entity in entities %}

            <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
                <!-- Widget: user widget style 1 -->

                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->

                    <div class="widget-user-header bg-aqua-active">

                        <h3 class="widget-user-username" style="color: #000 !important;">{{  entity.username }}
                            {% if entity.badges is defined %}
                                {% for badge in entity.badges %}
                                    <img src="/badges/{{ badge.image }}" width="30px" style="text-align: left;" title="{{ badge.title }}">
                                {% endfor %}
                            {% endif %}
                        </h3>

                        <h5 class="widget-user-desc">
                            <a class="btn btn-default" style="color:#000;" target="_blank" href="{{ path('public_user_show', { 'nick': entity.username }) }}">
                                <i class="fa fa-eye"></i> vistar
                            </a>
                        </h5>
                    </div>

                    <div class="widget-user-image">
                        {% if entity.photo is defined %}
                        <img alt="User Avatar" src="https://mycoralreef.es//script/thumb.php?src={{ entity.photo }}&w=93&h=93&a=c" class="img-circle">
                        {% else %}
                            <img alt="User Avatar" src="https://mycoralreef.es//script/thumb.php?w=93&h=93&a=c" class="img-circle">
                        {% endif %}
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    {% if entity.tenants is defined %}
                                    <h5 class="description-header">{{ entity.tenants}}</h5>
                                    {% else %}
                                        <h5 class="description-header">0</h5>
                                    {% endif %}
                                    <span class="description-text">INQUILINOS</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    {% if entity.waterparameters is defined %}
                                    <h5 class="description-header">{{ entity.waterparameters }}</h5>
                                    {% else %}
                                        <h5 class="description-header">0</h5>
                                    {% endif %}
                                    <span class="description-text">MEDICIONES</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    {% if entity.devices is defined %}
                                    <h5 class="description-header">{{ entity.devices }}</h5>
                                    {% else %}
                                        <h5 class="description-header">0</h5>
                                    {% endif %}
                                    <span class="description-text">APARATOS</span>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.widget-user -->

            </div>

        {% endfor %}

    </div>
        <div class="col-lg-12 front bright-top bright-bottom">
            Ir a la pagina:<br>
        |&nbsp;{% for i in 1..total_pages %}
        <a href="{{ path('all-users', { 'page': i }) }}">{{ i }}</a>&nbsp;
        {% endfor %}|
    </div>

    </div>
</div>

{% endblock %}
