{% extends "JalisFrontendBundle::layout_panel.html.twig" %}
{% block body %}

    {% render controller("CrijaAquariumBundle:WaterParameter:last" ) %}
    {#% render controller("CrijaAquariumBundle:WaterParameter:clock" ) %#} 
    {#% render controller("CrijaAquariumBundle:WaterParameter:weather" ) %#}

    
<div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-bolt"></i> Seguimiento activo</h4>
</div>


<div class="col-lg-12 front bright-bottom bright-top">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> <i class="fa fa-area-chart"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Mediciones</span>
                    <span class="info-box-number">{{ parameters }}<small></small></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> <i class="fa fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Notificaciones</span>
                    <span class="info-box-number">{{ alerts }}<small></small></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> <i class="fa fa-paw"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Inquilinos</span>
                    <span class="info-box-number">{{ tenants }}<small></small></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div>
        {% render controller("CrijaAquariumBundle:WaterParameter:gage" ) %}
    </div>
</div>

    <div class="col-lg-12 front bright-bottom bright-top">
    <div id="alerts" style="margin-top:0px;text-align:center;">
        <div class="alert alert-info" role="alert" style="margin-left:7px;height:114px;margin-top:0px;">
            <i class="fa fa-spinner fa-spin fa-3x"></i><br> Cargando alertas
        </div>
    </div>


</div>
{% if badges %}
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-trophy"></i> Logros</h4>
    </div>

    <div class="col-lg-12 front bright-bottom bright-top">
           {% for badge in badges %}
                   <img src="/badges/{{ badge.image }}" style="width:100px;margin-left:5px;margin-right:5px;" title="{{ badge.title }}">
            {% endfor %}
    </div>


{% endif %}



<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-users"></i> Acuarios destacados de otros usuarios <a href="{{ path('all-users') }}" class="btn btn-info"><i class="fa fa-eye"></i> Ver todos</a></h4>
</div>
    
<div class="col-lg-12 front bright-top bright-bottom">
        {% render controller("JalisFrontendBundle:Default:LastestUsers", {'max': 3}) %}
</div>

{% block javascripts %}
    {{ parent() }} 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script>
	$.ajax({
	
	  url: '{{path('parameter_alerts')}}',
	  success: function(data) {
	    $('#alerts').html(data);
	  
	  }
	});
	</script>
{% endblock %}


{% endblock %}
