<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <title>Safe Hybrid App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



</head>

<body style="background-color: #00aaaa;padding:0;margin:0;">



</body>

</html>