{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}


<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-file-image-o"></i> Información util</h4>
</div>


<div class="col-lg-12 front bright-top bright-bottom">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" style="border-color:#ccc;text-align:center;color:#000;background-color:#fff;">

                <span>Como diferenciar la famosa gamba wundermny<br>

                </span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="alert alert-success" style="border-color:#ccc;text-align:center;color:#000;background-color:#fff;">
              
                <span>Aparacion de ciano<br>

                </span>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% endblock %}
