{% extends "JalisFrontendBundle::layout_public.html.twig" %}

{%  block qr %}
    <img src="/qr/{{ user.id }}.png">
{% endblock %}

{% block body -%}

    {% if aquarium %}

        <div class="front bright-bottom">

            <h4><i class="fa fa-user fa-1x"></i> ACUARIO "{{ aquarium.name|upper }}" DE {{ user.username |upper }} DE {{ aquarium.litres }} LITROS</h4>

        </div>

        {{ render(controller('CrijaFrontendBundle:Default:myWidget', { 'id': user.id })) }}
        {{ render(controller('CrijaAquariumBundle:Aquarium:widget', { 'id': aquarium.id })) }}
        {{ render(controller('CrijaAquariumBundle:WaterParameter:widget', { 'id': user.id })) }}
        {{ render(controller('CrijaAnimalBundle:Tenant:widget', { 'id': user.id })) }}
    {% else %}

        <div class="col-lg-offset-2 col-lg-10">

            <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">

                <div style="font-size:20px;">

                    <a href="#" style="color:#fff;" class="btn btn-default box_transparent" type="button">

                        <i class="fa fa-tachometer fa-1x"></i> No ha registrado ningun acuario todavia
                        
                    </a>
                </div>
            </div>

        </div>

    {% endif %}

{% endblock %}