{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-paw"></i> Editar Inquilino</h4>
    </div>
    {{form_errors(edit_form) }}
    {% if msg is defined  %}
        <div class="col-lg-12 front bright-top bright-bottom">
            <div class="alert alert-info">
                <i class="fa fa-check-square"></i> {{ msg }}
            </div>
        </div>
    {% endif %}
    <div class="col-lg-12 front bright-top bright-bottom">
        <div class="col-md-offset-1 col-lg-10">
            {{ form_start(edit_form) }}
            <div id="select-animal" class="col-lg-12" style="margin-bottom: 10px;">

                {{ form_errors(edit_form.animal) }}

                {{ form_widget(edit_form.animal, {'attr': {'class': 'tenant col-lg-12 form-control'}}) }}

            </div>
            <div class="col-lg-12">
                {{ form_label(edit_form.description) }}<br>
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3" style="padding-left:0px;margin-top:4px;display: inline;">Tamaño: {{ form_widget(edit_form.size, {'attr': {'class': 'form-control'}}) }}</div>

                <div class="col-lg-3" style="margin-top:4px;display: inline;">Acuario: {{ form_widget(edit_form.aquarium, {'attr': {'class': 'form-control '}})  }}</div>

                <div class="col-lg-3" style="margin-top:4px;display: inline;">Precio: {{ form_widget(edit_form.price, {'attr': {'class': 'form-control '}}) }}</div>

                <div class="col-lg-3" style="margin-top:4px;display: inline;">Unidades: {{ form_widget(edit_form.units, {'attr': {'class': 'form-control '}}) }}</div>


                <div class="col-lg-3" style="padding-left:0px;margin-top:4px;display: inline;">Color principal:
                    <div class="input-group color2">
                        <input type="text" class="form-control col-lg-2" name="color1" id="color1" value="">
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Color secundario:
                    <div class="input-group color2">
                        <input type="text" class="form-control col-lg-2" name="color2" id="color2" value="">
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>

                <div class="col-lg-3" style="padding-right:0px;margin-top:4px;display: inline;">Dia de alojamiento:{{ form_widget(edit_form.inReefAt, {'attr': {'class': 'form-control datepicker','style' : 'display:inline;'}}) }}</div>

            </div>

        </div>
        <button style="top:80px;" type="submit" id="tenant_submit" name="tenant[submit]" class="btn btn-danger btn-lg btn-block btn-cool hidden-xs">
            <i class="fa fa-download fa-3"></i><br><span style="display:block;font-size:20px">Guardar</span>
        </button>

        <br><br><button style="top:80px;" type="submit" id="tenant_submit" name="tenant[submit]" class="btn btn-danger btn-lg btn-block btn-cool-xs hidden-sm hidden-md hidden-lg">
            <i class="fa fa-download fa-3"></i><br><span style="display:block;font-size:20px">Guardar</span>
        </button>

        </form>
    </div>


    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function() {
                $( ".datepicker" ).datepicker({
                    dateFormat: 'dd-mm-yy'

                });
            });

            $('#color1').val('{{ colors[0] }}');
            $("#color1").trigger('change');
            $('.color1').colorpicker();


            $('#color2').val('{{ colors[1] }}');
            $("#color2").trigger('change');
            $('.color2').colorpicker();


            function formatRepo (repo) {
                if (repo.loading) return "<i class='fa fa-spinner fa-pulse'></i> Buscando inquilino";


                var markup = '<div class="clearfix">' +
                        '<div class="col-sm-3">' +
                        '<img src="/uploads/animal/' + repo.image + '" width="200px"></i>' +
                        '</div>' +
                        '<div clas="col-sm-10">' +
                        '<div class="clearfix">' +
                        '<div class="col-sm-6" style="font-weight:bold;font-size:18px;">' + repo.spanish_name + ' (' + repo.real_name + ')</div>' +
                        '<div class="col-sm-3"><i class="fa fa-warning"></i> Reef Safe: ' + repo.reefsafe + '</div>' +
                        '<div class="col-sm-6"><i class="fa fa-tag"></i> ' + repo.category + ' <i class="fa fa-tag"></i> ' + repo.fishgroup + '<br><i class="fa fa-arrows-h"></i> ' + repo.size + '<br><i class="fa fa-graduation-cap"></i> ' + repo.dificulty + '</div>' + repo.size +
                        '</div>';

                if (repo.name) {
                    markup += '<div>' + repo.real_name + '</div>';
                }

                markup += '</div></div>';

                return markup;
            }

            function formatRepoSelection (repo) {
                return repo.real_name || "{{ entity.animal.realName }} ( {{ entity.animal.spanishName }} )";
            }

            $(".tenant").select2({
                placeholder: "Select a state",
                ajax: {
                    url: "/animal/all_animals",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data
                        return {
                            results: data.animals
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 2,
                templateResult: formatRepo, // omitted for brevity, see the source of this page
                templateSelection: formatRepoSelection, // omitted for brevity, see the source of this page

            });


        </script>


    {% endblock %}
{% endblock %}


