{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}

<style>

    .circle-image{
        width:200px;
        height:200px;
        border-radius:50%;
        display:block;
        background-position-y:25%;
        borborder:2px solid #fff;
        cursor: pointer;
    }

    .ui-tooltip {

        border: 1px solid ccc;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
        padding: 8px;
        color: #333;
        border-radius: 7px;
        font-size:10px;
    }
    .animal_info ul {
        padding-left: 0;
        width: 47%;
        margin-right: 1%;
        float: left;
        list-style: none;
    }
    .animal_info li {
        margin: 0 0 5px 0;
        line-height: 20px;
        border: 1px solid #eee;
    }
    .animal_info b {
        background-color: #eee;
        color: #999;
        padding: 2px 5px;
        margin: 0 6px 0 -2px;
        display: inline-block;
        min-width: 16px;
        text-align: center;
    }



</style>
<div class="col-lg-12 front bright-top bright-bottom">
    <div class="col-md-offset-1 col-lg-10">
        <a href="#" data-toggle="tooltip" title="Haz click aqui para ver la imagen completa">
            <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-5 circle-image" style="background-image:url('http://mycoralreef.es//script/thumb.php?src=/uploads/animal/{{ animal.image }}&w=200&h=200&a=c');">
                <i class="fa fa-eye"></i>
            </div>
        </a>


        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <img src="http://mycoralreef.es/uploads/animal/{{ animal.image }}">

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div style="font-size:20px;">{{ animal.realName |upper }}

                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                <br>
                <div style="font-size:15px;">{{ animal.spanishName }} | <span style="color:#bbb;">{{ animal.animalCategory }}</span></div>


            </div>
        </div><br><br>
        <div class="col-lg-8" style="margin-top:10px;">
            <ul class="animal_info">
                <li><b><i class="fa fa-arrows-h"></i> tamaño</b>{{ entity.size }}</li>
                <li><b><i class="fa fa-calendar"></i> introducido el</b>{{ entity.inReefAt|date('Y-m-d H:i:s') }}</li>
                <li><b><i class="fa fa-eur"></i> precio</b>{{ entity.price }}</li>
                <li><b><i class="fa fa-tags"></i> colores</b>
                    {% set colors = entity.colors|split(';') %}
                    {% if colors[0]|length %}
                        <div style="float:left;width:20px;height:20px;background-color:{{ colors[0] }};border:solid 1px #bac0ce;"></div>
                    {% endif %}
                    {% if colors[1]|length %}
                        <div style="float:left;width:20px;height:20px;background-color:{{ colors[1] }};border:solid 1px #bac0ce;"></div>
                    {% endif %}
                </li>
                <li>
                    {{ entity.description }}
                </li>



            </ul>

        </div>

    </div>
    <div class="col-lg-12 front bright-top bright-bottom" style="margin-bottom: 10px;">
        <h4><i class="fa fa-photo"></i> FOTOS DE MI {{ animal.realName |upper }}</h4>
    </div>
    <div class="col-lg-12">
        <div class="row">
            {% if gallery|length >0  %}

            {% for photo in gallery %}



                {% if (loop.index0  is divisible by(3) or loop.index0 == 0 )  %}
                    <div class="col-md-offset-1 col-lg-12">

                {% endif %}
                <div class="col-lg-3" style="padding: 0px;border: 1px solid;background-color:#f8f8f8;border-color:#e7e7e7;border-radius:10px;overflow:hidden;margin-left:20px;margin-bottom:10px;">
                    <div style="height:165px;overflow: hidden;">
                        <a href="{{ path('tenant_show', { 'id': entity.id }) }}">
                            <img src="http://mycoralreef.es//script/thumb.php?src={{photo.getWebPath }}&w=280&h=165&a=c">
                        </a>

                    </div>

                    <div style="text-align:center;padding-top:20px">

                        {{ photo.title }}
                    </div>
                </div>

                {% if (loop.index is divisible by(3) and loop.index0 != 0 )   %}
                    </div>
                {% endif %}


            {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">No hay fotos de este inquilino </div>
            {% endif %}
        </div>


        </div>
{% if owner == true %}
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-camera"></i> NUEVA FOTO</h4>
    </div>
    <div class="col-lg-12" style="margin-top:10px;">
        <form class="form" action="{{ path('photo_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label for="title">Comentario y/o titulo</label>
                {{ form_widget(form.title, { 'attr': {'class': 'orm-control'} }) }}
            </div>
            <div class="form-group">
                <label for="file">Imagen</label>
                {{ form_widget(form.file, { 'attr': {'class': 'orm-control'} }) }}
            </div>

                <button class="btn btn-info" type="submit">Guardar</button>

            {{ form_end(form) }}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
