<div class="col-lg-12 front bright-bottom">
    <h4><i class="fa fa-paw fa-1x"></i>
        INQUILINOS</h4>
</div>
<div class="col-lg-12 front bright-top bright-bottom">


    {% for key,tenants in all_tenants %}

        {% if tenants|length > 0 %}
        <div class="col-lg-10">
            <h4>
                {% if key == "Peces" %}
                    <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Clown.png" alt="..." >
                {% endif %}
                {% if key == "Corales" %}
                    <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Coral.png" alt="..." >
                {% endif %}
                {% if key == "Invertebrados" %}
                    <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee;" src="/img/Crab.png" alt="...">
                {% endif %}


                {{ key }}</h4>
        </div>
        <div class="col-lg-12" style="min-height: 200px;">
            {% for entity in tenants %}

            {%  if entity.diedAt != null %}

                {% set backgroundcolor = '#000'  %}
                {% set color = '#fff'  %}
                {% set gray = '&f=2'  %}
            {% else %}
                {% set backgroundcolor = '#f8f8f8'  %}
                {% set color = '#000'  %}
                {% set gray = ''  %}
            {% endif %}

                <div class="col-lg-2" style="color:{{ color }};padding: 0px;border: 1px solid;background-color:{{ backgroundcolor }};border-color:#ccc;border-radius:10px;overflow:hidden;margin-left:20px;margin-bottom:10px;">
                    <div style="height:106px;overflow: hidden;">
                        <a href="{{ path('tenant_show', { 'id': entity.id }) }}">
                            {% if entity.units != null %}
                            <div class="img-circle" alt="..." style="color: #000; padding:6px;background-color:#fff;border:solid 1px #ccc; top: 10px;left: 10px; position:absolute;z-index:10;width:32px" height="50px"; width="70px">x{{ entity.units }}</div>
                    {% endif %}
                        <img style="width:100%;" src="http://mycoralreef.es//script/thumb.php?src=/uploads/animal/{{ entity.Animal.image }}&w=182&h=120{{ gray }}">
                        </a>
                        {% set colors = entity.colors|split(';') %}
                        {% if colors[0]|length %}
                        <div style="width:20px;height:20px;background-color:{{ colors[0] }};border:solid 1px #bac0ce; top: -20px;position:relative;z-index:10;"></div>
                        {% endif %}
                        {% if colors[1]|length %}
                        <div style="width:20px;height:20px;background-color:{{ colors[1] }};border:solid 1px #bac0ce; top: -40px;left:20px;position:relative;z-index:10;"></div>
                        {% endif %}
                    </div>
                    {% if entity.Animal.AnimalCategory == "Pez" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -20px;left: 70px; position:relative;z-index:10" src="/img/Clown.png" alt="..." class="img-circle">
                    {% endif %}
                    {% if entity.Animal.AnimalCategory == "Coral" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -20px;left: 70px; position:relative;z-index:10" src="/img/Coral.png" alt="..." class="img-circle">
                    {% endif %}
                    {% if entity.Animal.AnimalCategory == "Invertebrado" %}
                        <img width="40px" style="padding:6px;background-color:#fff;border:solid 1px #eee; top: -20px;left: 70px; position:relative;z-index:10" src="/img/Crab.png" alt="..." class="img-circle">
                    {% endif %}
                    <div style="font-weight:bold;font-size:14px;text-align:center;padding-top:0px;min-height:90px;">
                        <i> {{ entity.Animal.realName }}</i><br> {{ entity.Animal.spanishName }}
                    </div>

                    <div style="margin-top:10px;">
                        <div style="color:#000;background-color:#eee;text-align:center;float:left;width:33%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">

                            <i class="fa fa-eur"></i><br>{% if entity.price|length %} {{ entity.price }}{% else %} 0 {% endif %}
                        </div>

                        <div style="color:#000;background-color:#eee;text-align:center;float:left;width:33%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                            <i class="fa fa-arrows-h"></i><br>{% if entity.size|length %} {{ entity.size }} {% else %} n/a {% endif %}
                        </div>
                        <div style="color:#000;background-color:#eee;text-align:center;float:left;width:33%;padding:10px;border-top: 1px solid #bac0ce;border-bottom: 1px solid #fff;">
                            <i class="fa fa-camera"></i><br>{{ gallery[entity.id]| length }}
                        </div>
                    </div>

                    <div style="text-align:center;float:right;padding:10px;">
                        {% if entity.diedat != null %}
                        <a style="color:#000;" class="mini btn btn-default" href="#">
                            <img src="/img/skull40.png">
                        </a>
                        {% endif %}
                        <a style="color:#000;"  class="mini btn btn-default" href="{{ path('tenant_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> ver ficha</a>
                    </div>

                </div>








            {% endfor %}
            </div>
            {%  endif %}
    {% endfor %}

</div>

