

<div class="front">  
<h4><i class="fa fa-cog fa-1x"></i>
CAMBIAR PASSWORD</h4>
</div>


<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">



{{ form_errors(form) }}
	<div class="col-lg-12 crystal-header" style="min-height:230px">
	    
	    
	    <div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Password actual</span>
			 	 		{{form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>
		
		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Nuevo password</span>
			 	 		{{form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>
		
		<div class="cintillo2">
           <div class="water_imput">
				<div class="input-group input-group-lg">
					  	 <span class="input-group-addon">Repetir password</span>
			 	 		{{form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
				</div>
		   </div>
		</div>

	
	   
	    	{{ form_rest(form) }}
	   
	    
	 
    
    </div>
     
     <div class="col-lg-12 crystal-header-bottom">
	     	         <button type="submit" class="btn-mini"><i class="fa fa-download fa-3"></i><br><span style="font-size:15px">guardar</span></button>
	    </div>

    <div>
     
    </div>
</form>




