{% extends "JalisFrontendBundle::layout_panel.html.twig" %}


{% block body %}
    <div class="front">
        <h4 style="display: inline-block;"><i class="fa fa-plug fa-1x"></i>
            EDITAR {{ entity.marca| upper }} {{ entity.modelo| upper }}</h4>

    </div>

    {% if not edit_form.vars.valid %}
        <div class="col-lg-12 front bright-top bright-bottom">
            <div class="alert alert-danger">
                {{ form_errors(edit_form) }}
            </div>
        </div>
    {% endif %}
    <form action="{{ path('device_update', {'id': entity.id})}}" method="post" name="crija_bundle_aquariumbundle_device">
        {{form_errors(edit_form) }}
        <div class="col-lg-12 front bright-top bright-bottom">
            <div class="col-md-offset-1 col-lg-10">
                <div class="col-lg-6" style="margin-top:10px;">
                    Marca: {{form_widget(edit_form.marca, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6" style="margin-top:10px;">
                    Modelo: {{form_widget(edit_form.modelo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-4" style="margin-top:10px;">
                    Unidades: {{form_widget(edit_form.unidades, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6" style="margin-top:10px;">
                    Precio:  {{form_widget(edit_form.precio, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-lg-4" style="margin-top:10px;">
                    Acuario:  {{form_widget(edit_form.aquarium, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-4" style="margin-top:10px;">
                    Tipo:  {{form_widget(edit_form.tipo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-12" style="margin-top:10px;">
                    Descripcion: {{form_widget(edit_form.descripcion, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-12" style="margin-top:10px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Completar para el calculo del consumo</div>
                        <div class="panel-body">
                            <div class="col-lg-6" style="margin-top:10px;">
                                Watios: {{form_widget(edit_form.watios, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-6" style="margin-top:10px;">
                                Horas diarias encendido: {{form_widget(edit_form.horas, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button style="margin-top:10px;" id="crija_bundle_aquariumbundle_device_submit" name="crija_bundle_aquariumbundle_device[submit]" type="submit" class="btn btn-danger"><i class="fa fa-download fa-3"></i><span style="font-size:15px"> actualizar datos</span></button>
                </div>
                <input type="hidden" value="PUT" name="_method">
            </div>
        </div>
        <div style="display: none;">{{ form_rest(edit_form) }}</div>
    </form>




    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-photo"></i> FOTOS DE MI  {{ entity.marca| upper }} {{ entity.modelo| upper }}</h4>
    </div>
    <div class="col-lg-12 front">
        <div class="row front">
            {% if gallery|length >0  %}

                {% for photo in gallery %}

                    {% if (loop.index0  is divisible by(3) or loop.index0 == 0 )  %}
                        <div class="col-md-offset-1 col-lg-12">
                    {% endif %}
                    <div class="col-lg-3" style="padding: 0px;border: 1px solid;background-color:#f8f8f8;border-color:#e7e7e7;border-radius:10px;overflow:hidden;margin-left:20px;margin-bottom:10px;">
                        <div style="height:165px;overflow: hidden;">
                            <img src="http://mycoralreef.es//script/thumb.php?src={{photo.getWebPath }}&w=280&h=165&a=c">
                        </div>

                        <div style="text-align:center;padding-top:20px">

                            {{ photo.title }}
                        </div>
                    </div>

                    {% if (loop.index is divisible by(3) and loop.index0 != 0 )   %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">No hay fotos de este acuario </div>
            {% endif %}
        </div>
    </div>




    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-camera"></i> NUEVA FOTO</h4>
    </div>
    <div class="col-lg-12 front">
        <form class="form" action="{{ path('photo_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label for="title">Comentario y/o titulo</label>
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label for="file">Imagen</label>
                {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <button class="btn btn-info" type="submit">Guardar foto</button>

            {{ form_end(form) }}
        </form>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function() {
                $( ".datepicker" ).datepicker();
            });
        </script>


    {% endblock %}

{% endblock %}
