{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}

<div class="front">
    <h4 style="display: inline-block;"><i class="fa fa-plug fa-1x"></i>
        NUEVO APARATO</h4>

</div>

    <form action="{{ path('device_create')}}" method="post" name="crija_bundle_aquariumbundle_device">
        {{form_errors(form) }}
        <div class="col-lg-12 front bright-top bright-bottom">
            <div class="col-md-offset-1 col-lg-10">

                <div class="col-lg-6" style="margin-top:10px;">
                    Marca: {{form_widget(form.marca, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6" style="margin-top:10px;">
                    Modelo: {{form_widget(form.modelo, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-lg-6" style="margin-top:10px;">
                    Unidades: {{form_widget(form.unidades, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6" style="margin-top:10px;">
                    Precio:  {{form_widget(form.precio, {'attr': {'class': 'form-control'}}) }}
                </div>


                <div class="col-lg-6" style="margin-top:10px;">
                    Acuario:  {{form_widget(form.aquarium, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-6" style="margin-top:10px;">
                    Tipo:  {{form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-12" style="margin-top:10px;">
                    Descripcion: {{form_widget(form.descripcion, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-lg-12" style="margin-top:10px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Completar para el calculo del consumo</div>
                        <div class="panel-body">
                            <div class="col-lg-6" style="margin-top:10px;">
                                Watios: {{form_widget(form.watios, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-6" style="margin-top:10px;">
                                Horas diarias encendido: {{form_widget(form.horas, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button style="margin-top:10px;" id="crija_bundle_aquariumbundle_device_submit" name="crija_bundle_aquariumbundle_device[submit]" type="submit" class="btn btn-danger"><i class="fa fa-download fa-3"></i><span style="font-size:15px"> guardar</span></button>
                </div>
            </div>
        </div>
    <div style="display: none;">{{ form_rest(form) }}</div>
    </form>


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $( ".datepicker" ).datepicker();
        });
    </script>


{% endblock %}

{% endblock %}
