{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}
<div class="col-lg-12 front bright-top bright-bottom">
<h4 style="display: inline-block;"><i class="fa fa-flask fa-1x"></i>
MIS ACUARIOS</h4>
    <a class="btn btn-danger btn-lg hidden-phone hidden-tablet hidden-xs hidden-sm" style="top:80px;float:right;" href="{{ path('aquarium_new') }}">
        <i class="fa fa-download fa-3"></i><span style="font-size:17px"> Nuevo Acuario</span>
    </a>
</div>


{% if(entities| length != 0) %}


<div class="col-lg-12 front bright-top bright-bottom" style="min-height:300px;">

    <a href="{{ path('aquarium_new') }}" class="btn btn-danger btn-lg hidden-desktop hidden-lg hidden-md" style="display:block;top:80px;" >
        <i class="fa fa-download fa-3"></i><span style="font-size:20px"> Nuevo Acuario</span>
    </a>
    <br><br>

    {% for entity in entities %}

   
        <div class="col-md-offset-1 col-lg-10">
            <div class="col-lg-10">
                <div data-toggle="tooltip" data-placement="left" id="circle-image" class="col-lg-3 circle-image" style="backgrouns-color:#ccc;margin:10px;width:100px;height:100px;background-image:url('http://mycoralreef.es//script/thumb.php?src={{ gallery[entity.id] }}&w=100&h=100&a=c');">
                </div>
                <div style="font-size:20px;">{{ entity.name}}
                    <div class="col-lg-10" style="font-size:15px;">

                        <ul class="animal_info" style="list-style:none;">
                            <li><b><i class="fa fa-calendar"></i> fecha </b>{{ entity.createdAt|date("m/d/Y") }}</li>
                            <li><b><i class="fa fa-cube"></i> Tipo </b>Acuario de agua {{ entity.type }}</li>
                            <li><b><i class="fa fa-home"></i> Volumen </b>{{ entity.litres }} litros</li>
                        </ul>

                        <a style="margin-left:37px" href="{{ path('aquarium_edit', { 'id': entity.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil-square-o"></i> editar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% else %}

 <div class="col-lg-offset-1 col-lg-10">

     <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">
         <div style="font-size:20px;">
             <a href="{{ path('aquarium_new') }}" style="color:#fff;" class="btn btn-default box_transparent" type="button">
                 <i class="fa fa-tachometer fa-1x"></i> Da de alta tu primer acuario para poder hacerle un seguimiento pulsa aqui para darlo de alta
             </a>

         </div>
     </div>

 </div>


{% endif %}



{% endblock %}
