<h1>Photo list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image<th>
            <th>Path</th>
            <th>Title</th>
            <th>Obj_id</th>
            <th>Obj_type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('photo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><img src="/{{ entity.getWebPath }}"</td>
            <td>{{ entity.path }}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.objid }}</td>
            <td>{{ entity.objtype }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('photo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('photo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('photo_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
