{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Notify list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Message</th>
                <th>Readat</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Userfrom</th>
                <th>Userto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('notify_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.message }}</td>
                <td>{% if entity.readAt %}{{ entity.readAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.userFrom }}</td>
                <td>{{ entity.userTo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('notify_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('notify_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('notify_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
