{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Notify to all</h1>

    {% if enviado != 'no' %}
    <br>Enviado correcto: {{ enviado }}<br>
    {% endif %}
   <form method="post" action="{{ path('notifyToAll') }}">
       mensaje:<br>
       <textarea name="message" id="message" cols="100" rows="60"></textarea>
       <br>
       titulo/localizador<input type="text" name="title" id="title"><br>
       usuario:<br>
       <select id="toUser" name="toUser">
           <option value=""></option>
           {% for user in users %}
               <option value="{{ user.id }}">{{ user.username }}</option>
           {% endfor %}
       </select>
       <input type="submit">
   </form>
{% endblock %}
