
<!-- Modal -->
{% for entity in notification %}
<div class="modal fade" id="myModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Mensaje del dia {{ entity.createdAt|date('d') }} de {{ entity.createdAt|date('M') }} del {{ entity.createdAt|date('Y') }}</h4>

            </div>
            <div class="modal-body">
                <h3><i class="fa fa-envelope"></i>
                    {% if entity.type == "premio" %}
                        Enhorabuena! nuevo logro: {{ entity.title }}
                    {% else %}
                        Mensaje de {{ entity.userFrom }}
                    {% endif %}
                </h3>
                {{ entity.message | raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <script>

        $('#myModal{{ entity.id }}').modal({
            show: true
        })

    </script>
{%  endfor %}


