<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}MyCoralReef.es | Seguimiento de acuarios{% endblock %}</title>
    <link rel="icon" type="image/png" href="/seahorse.png">

{% block stylesheets %}
        
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/weather-icons/css/weather-icons.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css" />
<link rel="stylesheet" href="/jquery-ui/jquery-ui.theme.min.css" />
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">


{% endblock %}
 <script src="/js/jquery.js"></script>
 
 <script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
{% block javascripts %}
   
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52818018-1', 'auto');
  ga('send', 'pageview');

 </script>
    
{% endblock %}

    <link rel="icon" type="image/png" href="/seahorse.png">
</head>
<body style="padding-top:0px;">

   

        {% block body %}
        {% endblock %}





</body>
</html>
