<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />


{% endblock %}


<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
	    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="active"><a href="{{ path('panel_home') }}">Panel</a></li>
	    {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
         <div class="btn-group pull-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
          <i class="icon-user"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
          <li><a href="{{ path('aquarium') }}">Mis Acuarios</a></li>
          <li><a href="{{ path('waterparameter_new') }}">Nuevos Parametros</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        </ul>
        {% else %}
           <a class="btn" href="{{ path('fos_user_registration_register') }}"> <i class="icon-edit"></i>  registrarse</a>
           <a class="btn" href="{{ path('fos_user_security_login') }}"><i class="icon-signin"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
      </div>
      </div>
    </div>





<div class="container">
    <div class="row" style="margin-top:100px;">

        {% block body %}
        {% endblock %}
           </div>
</div> 

{% block javascripts %}
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52818018-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
</html>
