{% extends "CrijaFrontendBundle::layout.html.twig" %}

{% block body %}
{% block title %}My Coral Reef | Contactar{% endblock %}
	<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon fa-envelope"></span>
			<h2>Contáctanos</h2>
			<p>Puedes solicitarnos más información, comentarnos tus dudas, quejas, ideas, sugerencias... </p>
		</header>
			
		<!-- One -->
			<section class="wrapper style4 special container small">
			
				<!-- Content -->
					<div class="content">
						<form>
							<div class="row half no-collapse-1">
								<div class="6u">
									<input type="text" name="name" placeholder="Tu Nombre" />
								</div>
								<div class="6u">
									<input type="text" name="email" placeholder="Tu Email" />
								</div>
							</div>
							<div class="row half">
								<div class="12u">
									<input type="text" name="subject" placeholder="El asunto" />
								</div>
							</div>
							<div class="row half">
								<div class="12u">
									<textarea name="message" placeholder="Tu Mensaje" rows="7"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="buttons">
										<li><a href="#" class="button special">Enviar</a></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
					
			</section>
		
	</article>

{% endblock %}
