{% extends "CrijaFrontendBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    {% block body %}
        <!-- Main -->
        <article id="main">

            <header class="special container">
                <span class="icon fa-user"></span>
                <h2>Recuperar contraseña</h2>
                <p>Para poder recuperar la cotnraseña dinos cual es el email con el que estas registrado</p>
            </header>

            <!-- One -->
            <section class="wrapper style4 special container small">

                <!-- Content -->
                <div class="content">

                    <p>
                        {{ 'resetting.check_email'|trans({'%email%': email}) }}
                    </p>


                </div>

            </section>

        </article>
    {% endblock %}


{% endblock fos_user_content %}