{% extends "CrijaFrontendBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% block body %}
        <!-- Main -->
        <article id="main">

            <header class="special container">
                <span class="icon fa-user"></span>
                <h2>Recuperrar contraseña</h2>
                <p>Para poder recuperar la cotnraseña dinos cual es el email con el que estas registrado</p>
            </header>

            <!-- One -->
            <section class="wrapper style4 special container small">

                <!-- Content -->
                <div class="content">

                    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}


                </div>

            </section>

        </article>
    {% endblock %}


{% endblock fos_user_content %}