{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body %}

<div class="col-lg-12 front bright-top bright-bottom">
    <h4 style="display: inline-block;"><i class="fa fa-trophy fa-1x"></i>
        MIS LOGROS</h4>

</div>
    {% if(entities| length != 0) %}
<div class="col-lg-12 front bright-bottom bright-top">

    {% for entity in entities %}

        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="col-lg-12" style="font-size:20px;">
                    <div class="col-lg-12" style="margin-bottom:5px;">
                        <span class="label label-default" style="font-weight:300;">{{ entity.title }}</span>
                    </div>

                    <div class="col-lg-3" style="backgrouns-color:#ccc;margin:10px;margin-top:0px;">
                       <img src="https://mycoralreef.es//badges/{{ entity.image }}" style="width:100px;">
                    </div>
                    <div class="col-lg-8" style="font-size:15px;">
                        <ul class="animal_info" style="list-style:none;padding-left: 0;">

                            <li><b><i class="fa fa-home"></i></b>{{ entity.description }}</li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

    {% else %}
        <div class="col-lg-offset-2 col-lg-10">
            <div class="col-md-offset-2 col-lg-10" style="min-height:100px;padding:30px">
                <div style="font-size:20px;">
                    <a href="#" style="color:#fff;" class="btn btn-default box_transparent" type="button">
                        <i class="fa fa-trophy fa-1x"></i> No tienes ningun logro todaiva
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% endblock %}
