{% extends "JalisFrontendBundle::layout_panel.html.twig" %}
{% block body -%}
    <style>
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
    <div class="col-lg-12 front bright-top bright-bottom">
        <h4><i class="fa fa-paw"></i> Editar Animal</h4>
    </div>

    {% if not edit_form.vars.valid %}
        <div class="col-lg-12 front bright-top bright-bottom">
            <div class="alert alert-danger">
                {{ form_errors(edit_form) }}
            </div>
        </div>
    {% endif %}

    <div class="col-lg-12 front bright-top bright-bottom">
        <div class="col-md-offset-1 col-lg-10">
            <img src="/uploads/animal/{{ entity.image }}" width="200px">

            {{ form_start(edit_form) }}
            <div class="col-lg-12">
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Nombre cientifico:<br> {{ form_widget(edit_form.realName, {'attr': {'class': 'form-control'}}) }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Nombre ingles:<br>{{ form_widget(edit_form.englishName, {'attr': {'class': 'form-control'}}) }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Nombre español:<br> {{ form_widget(edit_form.spanishName, {'attr': {'class': 'form-control '}})  }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Categoria:<br> {{ form_widget(edit_form.animal_category, {'attr': {'class': 'form-control'}}) }}</div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Tamaño medio:<br> {{ form_widget(edit_form.size, {'attr': {'class': 'form-control'}}) }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Sexo:<br>{{ form_widget(edit_form.sex, {'attr': {'class': 'col-lg-12 form-control datepicker','style' : 'display:inline;'}}) }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Espacio necesario (litros):<br> {{ form_widget(edit_form.volume, {'attr': {'class': 'form-control '}})  }}</div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-3" style="margin-top:4px;display: inline;">
                    Foto:<br>
                    <label class="col-lg-12 col-xs-12 custom-file-upload">
                        {{ form_widget(edit_form.file, {'attr': {'id': 'file-upload'}}) }}
                        <i class="fa fa-cloud-upload"></i> Examinar
                    </label>
                </div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Dificultad:<br> {{ form_widget(edit_form.dificulty, {'attr': {'class': 'form-control '}})  }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Temperamento:<br> {{ form_widget(edit_form.temperament, {'attr': {'class': 'form-control '}})  }}</div>
                <div class="col-lg-3" style="margin-top:4px;display: inline;">Reef safe:<br> {{ form_widget(edit_form.reefsafe, {'attr': {'class': 'form-control '}})  }}</div>
            </div>
            <div class="col-lg-12">
                Descripcion<br>
                {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12">
                Alimentacion<br>

                {{ form_widget(edit_form.feeding, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12">
                Comportamiento<br>
                {{ form_widget(edit_form.behavior, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-lg-12">
                <button style="width:340px;margin-top:10px;" class="btn btn-danger btn-block" name="crija_bundle_animalbundle_animal[submit]" id="crija_bundle_animalbundle_animal_submit" type="submit">
                    <i class="fa fa-download"></i><span>Guardar</span>
                </button>
            </div>
        </div>
        <div style="display: none;">{{ form_rest(edit_form) }}</div>
    </div>
{% endblock %}
