{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}
<div class="col-lg-12 front bright-top bright-bottom">
    <h4><i class="fa fa-history"></i> Animales</h4>
</div>
<div class="col-lg-12 front bright-top bright-bottom">
    |&nbsp;{% for i in 1..total_pages %}
    <a href="{{ path('animal', { 'page': i }) }}">{{ i }}</a>&nbsp;
{% endfor %}|
</div>
<div class="col-lg-12 front bright-top bright-bottom">
    <form class="form" action="{{ path('animal',{ 'page' : 1 }) }}" method="POST">
       <label>Filtrar:</label>
        <input class="form-control" type="text" name="filter" id="filter">
       <input type="submit" class="btn btn-info" value="filtrar">
        {% if filter %}
            Buscando: <div class="label label-info">"{{ filter }}"</div>
        {% endif %}
   </form>
</div>
<div class="col-lg-12 front bright-top bright-bottom">
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Realname</th>
                <th>English Name</th>
                <th>Spanish Name</th>
                <th>Description</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img src="/uploads/animal/{{ entity.image }}" width="200px"><br>
                {% if app.user.username == 'Jalis'%}
                    <a style="padding:5px;" class="btn btn-danger" href="{{ path('animal_edit', { 'id': entity.id }) }}">editar</a>
                {% endif %}
                </td>
                <td>{{ entity.realName }}</td>
                <td>{{ entity.englishName }}</td>
                <td>{{ entity.spanishName }}</td>
                <td>{{ entity.description |slice(0, 200)}}...</td>
                <td>{{ entity.AnimalCategory }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

<a class="btn btn-danger" href="{{ path('animal_new') }}">
                Nuevo Animal
            </a>

</div>
<div class="col-lg-12 front bright-top bright-bottom">
    |&nbsp;{% for i in 1..total_pages %}
    <a href="{{ path('animal', { 'page': i }) }}">{{ i }}</a>&nbsp;
    {% endfor %}|
</div>
{% endblock %}
