{% extends "JalisFrontendBundle::layout_panel.html.twig" %}

{% block body -%}
<div class="front">
    <h4 style="display: inline-block;"><i class="fa fa-plus-circle fa-1x"></i>NOTIFICACIONES</h4>
    <a class="btn btn-danger btn-lg hidden-phone hidden-tablet hidden-xs hidden-sm" style="margin-right:10px;top:80px;float:right;" href="{{ path('event_new') }}">
        <i class="fa fa-calendar fa-3"></i><span style="font-size:17px"> Nuevo Evento</span>
    </a>
</div>

<div class="col-lg-12 front bright-top bright-bottom" style="min-height:200px">
     <div class="col-lg-10 col-lg-offset-1">
         <a href="{{ path('event_new') }}" class="btn btn-danger btn-lg hidden-desktop hidden-lg hidden-md" style="display:block;top:80px;" >
             <i class="fa fa-calendar fa-3"></i><span style="font-size:20px"> Nuevo Evento</span>
         </a>
        {% render controller("CrijaReminderBundle:Event:widget" ) %}
    </div>
</div>

{% endblock %}
