<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}My Coral Reef | Gestion de acuarios marinos{% endblock %}</title>

        <link rel="icon" type="image/png" href="/seahorse.png">
		{% block metacontent %}

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Gestiona los parametros de tu acuario marino o de agua dulce" />
		<meta name="keywords" content="acuario,marino,dulce,parametros,quimicos,medicion,peces,corales" />

		{% endblock %}
		
		{% block stylesheets %}
		<!--[if lte IE 8]><script src="{{ asset('frontendbundle/css/ie/html5shiv.js') }}"></script><![endif]-->


		<link rel="stylesheet" href="{{ asset('frontendbundle/css/skel.css') }}" />
		<link rel="stylesheet" href="{{ asset('frontendbundle/css/style.css') }}" />
		<link rel="stylesheet" href="{{ asset('frontendbundle/css/style-noscript.css') }}" />

		<!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('frontendbundle/css/ie/v8.css') }}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('frontendbundle/css/ie/v9.css') }}" /><![endif]-->


		{% endblock %}
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />


	</head>
	<body class="index loading">

	{% block header %}
		{% include "CrijaFrontendBundle::header.html.twig" %}
	{% endblock %}

	{% block body %}{% endblock %}

	{% block footer %}
	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://twitter.com/MyCoralReef" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/MyCoralReef" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://plus.google.com/+MyCoralReef" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
		</ul>		
		<span class="copyright">&copy; My Coral Reef <a href="https://mycoralreef.es/" target="_blank">https://mycoralreef.es/</a></span>
	</footer>
	{% endblock %}
	
	{% block javascripts %}
	<script type="text/javascript">
		var global_path = "{{ asset('frontendbundle/') }}";
	</script>
	<script src="{{ asset('frontendbundle/js/jquery.min.js') }}"></script>
	<script src="{{ asset('frontendbundle/js/jquery.dropotron.min.js') }}"></script>
	<script src="{{ asset('frontendbundle/js/skel.min.js') }}"></script>
	<script src="{{ asset('frontendbundle/js/skel-layers.min.js') }}"></script>
	<script src="{{ asset('frontendbundle/js/init.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-52818018-1', 'auto');
            ga('send', 'pageview');

        </script>
	{% endblock %}

	</body>
</html>
